# NestJS
PORT=3002
ENTORNO='DEV'

# MongoDB
MONGODB_CONNECT=mongodb://localhost:27019/MDM

# USE THIS DB IN OPERATIONS THAT REQUIRE TRANSACTIONS 
# ReplicaSet local with docker-compose-develop 
# MONGODB_CONNECT=mongodb://localhost:27020/MDM?directConnection=true&replicaSet=rs0

# JWT
JWT_SECRET=eafSKQHMSuzg7hR34Lvdbv4XB9fUpafys9fTN3
JWT_EXPIRES_IN='1d'