# NestJS
PORT=3002
ENTORNO='DEV'

# MongoDB
MONGODB_CONNECT=mongodb://localhost:27019/MDM

# USE THIS DB IN OPERATIONS THAT REQUIRE TRANSACTIONS 
# ReplicaSet local with docker-compose-develop 
# MONGODB_CONNECT=mongodb://localhost:27020/MDM?directConnection=true&replicaSet=rs0

# JWT
JWT_SECRET=eafSKQHMSuzg7hR34Lvdbv4XB9fUpafys9fTN3
JWT_EXPIRES_IN='1d'

# SMTP EMAIL
SMTP_HOST=smtp.osnetpr.com
SMTP_PORT=25

# UNIMUS
UNIMUS_URL=http://172.16.9.15:8085
UNIMUS_TOKEN=

# SSH
SSH_HOST=172.16.9.196
SSH_USER=programacion
SSH_PASSWORD=

# DB
DB_HOST=172.16.9.196
DB_PORT=3306
DB_USERNAME=programacionread
DB_DATABASE=librenms
DB_PASSWORD=

# RabbitMQ
RABBITMQ_URL=amqp://user:password@172.16.9.150:5672/